---
import {getCollection, render} from 'astro:content'
import Normal from '../layouts/Normal.astro'

let projects = await getCollection('projects')
projects = projects.filter(project => !project.data.draft)
projects = projects.toSorted((a,b) => a.data.title.localeCompare(b.data.title))
---

<style>
	section.light {
			background: white;
	}
	section.alt {
			background: var(--bg2);
	}
		section {
			padding: 2rem 2rem 0.5rem;
		}
		section p {
			max-inline-size: 50rem;
		}
		section :global(a) {
			color: var(--bg1);
		}
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
			padding: 0;
			gap: 0.5rem;
			> li {
				list-style: none;
				margin: 0;
				background: var(--bg4);
				padding: 2rem 1rem 0rem;
				/* border-radius: 0.3rem; */
				border: 1px solid;
				box-shadow: 2px 2px #9d968e;
			}
			h3 {
				margin-bottom: 0.2rem;
			}
		}
</style>

<Normal title="Projects">
	<div class="Doc">
		<p>Projects I am or was involved in, prototypes and experiments in no particular order. Basically ideas I like to be part of.</p>
	</div>

	<section class="alt">
		<ul class="grid">
			{
			projects.map(async (post) => {
			const {Content} = await render(post);
			return (<li>
				<h3>
					{post.data.url ?
					<a href={post.data.url}>{post.data.title} </a>
					: post.data.title}
				</h3>
				<p set:html={post.data.description}></p>
				{/* <p class="date">{post.data.pubDate}</p> */}
				{!post.data.description && <Content />}
			</li>)
			})

			}
		</ul>
	</section>

	<section class="light">
		<p>Most of the projects are on my <a href="https://github.com/oskarrough">GitHub profile</a>.</p>

		<h2>Ooh Games</h2>
		<p>A collection of game prototypes I made.</p>
		<ul>
			<li><a href="https://slaytheweb.cards" rel="noopener">Slay the Web</a></li>
			<li><a href="https://donleche.itch.io/shroomium" rel="noopener">Shroomium</a> (1 week game jam)</li>
			<li><a href="https://slagmark.0sk.ar" rel="noopener">Slagmark</a></li>
			<li><a href="https://webhealer.0sk.ar" rel="noopener">Web Healer</a></li>
			<li><a href="https://emojimind.0sk.ar" rel="noopener">Emojimind</a></li>
		</ul>

		<h2>More stuff to mention</h2>
		<ul>
			<li><a href="https://www.nkflohmarkt.de" rel="noopener">NK Flohmarkt</a></li>
			<li><a href="https://www.torstenmosumgaard.dk" rel="noopener">Torsten Mosumgaard</a></li>
			<li><a href="https://masse.video" rel="noopener">Brandt Brauer Frick - Masse Video</a></li>
			<li><a href="http://gt-cinetype.com" rel="noopener">GT Cinetype</a> (slow browsers beware)</li>
			<li><a href="https://www.arkov.co/" rel="noopener">Arkov</a></li>
			<!-- <li><a href="https://www.everland.dk" rel="noopener">Everland</a></li> -->
			<li><a href="https://port-zero.com" rel="noopener">Port Zero</a></li>
			<li><a href="https://port-zero.com" rel="noopener">Port Zero</a></li>
		</ul>

		<p>Helped Tartelet Records with a few websites:</p>
		<ul>
			<li><a href="https://www.no-hablo.com" rel="noopener">Max Graef - Lo siento mucho pero no hablo tu idioma</a></li>
			<li><a href="https://www.jitwam.com" rel="noopener">Jitwam</a> (no longer online)</li>
			<li><a href="https://freedomtv.cc" rel="noopener">Wayne Snow - Freedom TV</a> (no longer online)</li>
		</ul>
	</section>
</Normal>
